---
import QRCode from "qrcode";

const { text } = Astro.props;

let qrCodeUrl = "";

try {
  qrCodeUrl = await QRCode.toDataURL(text);
} catch (err) {
  console.error(err);
}
---

<>
  {
    qrCodeUrl ? (
      <img id="QrIdCode" src={qrCodeUrl} alt="Código QR" />
    ) : (
      <p>Error al generar el código QR.</p>
    )
  }
</>

<script>
    document.querySelectorAll("#QrIdCode").forEach((htmlQR) => {
    htmlQR.addEventListener("click", imprimirImagen);
  });

  function imprimirImagen(htmlQR) {
    const img = htmlQR.target;
    const imgWindow = window.open("", "_blank");
    imgWindow.document.write(`<img src="${img.src}" style="width:100%;" />`);
    imgWindow.document.close();
    imgWindow.print();
  }
</script>
