---
import QRCode from "qrcode";

const { text } = Astro.props;

let qrCodeUrl = "";

try {
  qrCodeUrl = await QRCode.toDataURL(text);
} catch (err) {
  console.error(err);
}
---

<>
  {
    qrCodeUrl ? (
      <img id="QrIdCode" src={qrCodeUrl} alt="Código QR" />
    ) : (
      <p>Error al generar el código QR.</p>
    )
  }
</>
